<div class="side-bar-header">
  <div class="header-name">
    <a href="#">The Tanaka's</a>
  </div>
  <div class="create-room">
    <div class="make_list">To do list作成</div>
    <input type=text class='list' >
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">家事_朝</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>