<div class="wrapper">
  <div class="side-bar">
    <%# <%= render "side_bar" %>
  <div class="side-bar-header">
    <div class="header-name">
      Kuroki Family
    </div>
  <div class="create-room">
    <div class="make-list">
      <div class="header-button">
        <a href="#">To do list作成</a>
      </div>
    </div>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">家事_朝</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">家事_帰宅後</a>
    </div>
  </div>
</div>
  </div>
  <div class="chat">
    <%# <%= render "main_chat" %>
    <div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      家事_朝
    </div>
  </div>
  <div class="right-header">
    <div class="make_task">タスク作成</div>
      <input type=text placeholder= "ここに入力してください" class="make_text">
      <input type=submit>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="lower-message">
      <div class="message-content">
        桜と瀬那の着替え
      </div>
      <div class="edit-delete">
        <div class="edit-delete-button">
          <a href="#" class="button">詳細</a>
        </div>
        <div class="edit-delete-button">
          <a href="#" class="button">削除</a>
        </div>
      </div>
    </div>
  </div>

  <div class="message">
    <div class="lower-message">
      <div class="message-content">
        タオル準備
      </div>
      <div class="edit-delete">
        <div class="edit-delete-button">
          <a href="#" class="button">詳細</a>
        </div>
        <div class="edit-delete-button">
          <a href="#" class="button">削除</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="message">
    <div class="lower-message">
      <div class="message-content">
        水筒準備
      </div>
      <div class="edit-delete">
        <div class="edit-delete-button">
          <a href="#" class="button">詳細</a>
        </div>
        <div class="edit-delete-button">
          <a href="#" class="button">削除</a>
        </div>
      </div>
    </div>
  </div>

  <div class="message">
    <div class="lower-message">
      <div class="message-content">
        連絡帳
      </div>
      <div class="edit-delete">
        <div class="edit-delete-button">
          <a href="#" class="button">詳細</a>
        </div>
        <div class="edit-delete-button">
          <a href="#" class="button">削除</a>
        </div>
      </div>
    </div>
  </div>

  <div class="message">
    <div class="lower-message">
      <div class="message-content">
        ゴミ出し
      </div>
      <div class="edit-delete">
        <div class="edit-delete-button">
          <a href="#" class="button">詳細</a>
        </div>
        <div class="edit-delete-button">
          <a href="#" class="button">削除</a>
        </div>
      </div>
    </div>
  </div>
</div>
