.wrapper {
  display: flex;
}
.side-bar {
  background-image: url("/images/paper_00108.jpg");
  font-family: Helvetica , "游ゴシック", sans-serif;
  width: 40%;
}

.side-bar-header {
  height: 120px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:2px dashed white;
}

.header-name {
  font-style: italic;
  font-size: 32px;
  color: #2900ff;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.create-group {
  font-size: 20px;
}

.group-text{
  font-size: 14px;
  width: 250px;
  height: 30px;
  margin-bottom: 5px;
}

.submit-btn{
  padding: 0 10px;
}

.header-button a {
  font-size: 24px;
  text-decoration: none;
  border: 3px solid #de135e;
  border-radius: 20px;
  color: darkred;
  padding: 10px;
}

.groups {
  height: calc(100vh - 100px);
  padding: 46px 20px 0;
  overflow: scroll;
}

.group {
  padding: 0 24px 32px;
}

.group-name{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.group-btn {
  text-decoration: none;
  font-size: 32px;
  color: black;
  }

.group-delete-btn{
  font-size: 20px;
  text-decoration: none;
  color: gray;
  padding: 10px;
}

.chat {
  background-image: url("/images/wood-texture_00031.jpg");
  width: 60%;
}

.chat-header {
  height: 120px;
  padding: 0 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:2px dashed white;
}

.header-title {
  color: #333;
  font-size: 28px;
  font-weight: bold;
}
.create-task{
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  color: black;
  background-color: #aaa;
  text-decoration: none;
}

.logout{
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: orange;
}

.tasks {
  height: calc(100vh - 100px);
  padding: 46px 80px 0;
  overflow: scroll;
}
.message {
  margin: 10px 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  text-align: center;
}

.message-content {
  color: #434a54;
  font-size: 20px;
  margin-bottom: 20px;
}

.edit-delete{
  display:flex;
  justify-content: space-around;
  align-items:center;
  text-align: center;
  width: 150px;
}

.edit-delete-button{
  margin-bottom: 20px;
}

.button{
  text-decoration: none;
  font-size: 16px;
}