.task{
  width: 800px;
  margin: 10px auto;
  overflow: scroll;
}

.task-title{
  text-align:center;
  font-size: 36px;
  font-weight: bold;
}

.weight-bold-text{
  font-weight: bold;
  font-size:20px;
  margin-top: 20px;
}

.detail-weight-bold-text{
  text-align: center;
  font-weight: bold;
  font-size:20px;
  margin-top: 50px;
}

.indispensable{
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.new-task{
  width:800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks-explain{
  width: 800px;
}

.tasks-text{
  width: 800px;
  margin-top: 10px;
  padding: 5px 0 0 5px;
}

img{
  width:400px;
  height:auto;
}

.btn{
  margin: 30px auto 10px; 
}
.send-btn{
  font-size: 32px;
  background-color: orange;
  border: 1px solid orange;
  color: #111;
  padding: 6px 15px;
  text-decoration: none;
}

.back-btn{
  font-size: 32px;
  background-color: #ccc;
  color: #111;
  padding: 15px;
  margin-left:10px;
  text-decoration: none;
}

.detail-tasks-text{
  font-size: 16px;
  white-space: pre-line;
}

.edit-btn{
  font-size: 32px;
  background-color: #f0d138c4;
  color: #de360e;
  padding: 15px;
  text-decoration: none;
}

.delete-btn{
  font-size: 32px;
  background-color: #aaa;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  margin-left: 10px;
}

.image-box{
  width: 500px;
  height: auto;
  margin-top: 10px;
}
