.title {
  width: 600px;
  font-size: 50px;
  font-style: italic;
  color:orange;
  margin: 30px auto;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  text-align:center;
}

.account-page .account-page__inner {
  width: 980px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}